{% extends 'base.html.twig' %}

{% block title %}{{ parent() }} - Liste Produits {% endblock %}

{% block body %}

    {{  parent() }}
    <div class="container product-container">
        <div class="row justify-content-center">
            {% for p in product_list %}
                <div class="col-3 product-container-one">
                    <div class="card">
                        <img style="object-fit: cover; height: 25vh;" class="card-img-top img-fluid" src="{{ vich_uploader_asset(p.image,'imageFile') }}" alt="">
                        <div class="card-body">
                            <p class="card-text">REF: {{ "%04d"| format(p.id) }}</p>
                            <p class="card-text">Nom: {{ p.name }}</p>
                            <p class="card-text">Prix d'achat: {{ p.originPrice | number_format(0,'.',',') }} DT</p>
                            <p class="card-text">Prix de vente: {{ p.price | number_format(0,'.',',') }} DT</p>
                            <p class="card-text">Quantité: {{ p.quantity }}</p>
                            <p class="text-center card-text">
                                <a href="{{ path('edit_product_page', {'id': p.id}) }}" data-popup="tooltip" title="Modifier"><i class="icon-pencil5"></i></a>
                                <a href="{{ path('delete_product_page', {'id': p.id}) }}" data-popup="tooltip" title="Suprimmer" onclick="return confirm('Voulez Vous Supprimer ce Produit?')"><i class=" icon-trash"></i></a>
                            </p>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
{% endblock %}