{% extends 'base.html.twig' %}

{% block title %}{{ parent() }} - Modifier Vente {% endblock %}

{% block body %}

    {{  parent() }}
    <div class="container">
        <div class="jumbotron mt-5">
            <h1 class="display-4">Modifier Vente</h1>
            <hr class="my-4">
            <div class="container-fluid">
                {{ form_start(form, {'attr': {'class': 'form-horizontal'}}) }}

                {{ form_row(form.product) }}
                {{ form_row(form.quantity) }}
                {{ form_row(form.saleDate) }}

                <div class="container-fluid">
                    <div class="row">
                        {{ form_widget(form.save, {'attr': {'class': 'btn bg-teal-300'}}) }}
                        <a class="btn btn-default" href="{{ path('index_sales_page') }}">Back</a>
                    </div>
                </div>

                {{ form_errors(form) }}
                {{ form_rest(form) }}
                {{ form_end(form) }}
            </div>
        </div>
    </div>
{% endblock %}